img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

div {
	Alto 50px
	Ancho 120px
	Color borde #6495ED
	Color fondo #BCD2EE
}
